 body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

  .form-inline {  
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  .form-inline label {
    margin: 5px 10px 5px 0;
  }

  .form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
  }

  .button-section {
    margin: 3%;
  }
  .button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
  .button_submit{
      background-color: white;
  }
  .button:hover {
    background-color: royalblue;
  }

  .remove {
    background-color: rgb(192, 53, 53);
    border-radius: 5px;
  }
  .remove:hover {
    background-color: rgb(187, 43, 43);
  }


.dropdown-section{
  
  /*background-color: red;*/
  
  
}

.data-field-with-buttons-wrapper{
  justify-content: center;
  /*background-color: blue;*/
  align-content: flex-start;
  width:fit-content;
  margin-bottom: 1.5cm;
}

.datafield-wrapper{
  width: fit-content;
  /*background-color: green;*/
  margin-bottom: 0.2cm;
  clear: left;
}

.dropdown{
  background-color: gray;
  width: 4cm;
  margin: auto;
  border-radius: 5px;
  padding-left: 5px;
  padding-right:5px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0 3px 6px black;
  /*margin-bottom: 0.5cm;*/
  transition: 0.5s;
  
}

.dropdown:hover{
  cursor: pointer;
  background-color: lightgreen;
}

.invisible{
  display: none;
}

.end_buttons_div{
  clear:left;
  margin-bottom: 2cm;
}

.data-field-remove{
  float:left;
  margin-bottom: 1cm;
}