*{margin:0;padding:0;}

.project{
    margin:auto;
    display:block;
    background-color:lightblue;
    color:black;
    transition: 0.5s;
    width:10%;
    margin-bottom: 5px;
    border-radius: 10px;
}

.project:hover{
    cursor: pointer;
    background-color: blue;
    color:white;
}